:root {
    --IndianRed: #CD5C5C;
    --LightCoral:	#F08080;
    --Salmon:	#FA8072;	
    --DarkSalmon:	#E9967A;	
    --LightSalmon:	#FFA07A;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: white;
}
body{
    font-family: "Sofia Sans", sans-serif;
    font-size: 1.6rem;
}
header {
    display: flex;
    background-color: var(--LightSalmon);
    font-size: 2rem;
    margin: -1rem;
    margin-top: -3rem;
    justify-content: space-between;
    align-items: center;
}

.encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo{
    display: flex;
    align-items: left;
    padding: 1rem;
}

.logo{
    width: 40px; 
    height: 40px;
    margin-right: 1rem;
}

nav ul{
    display: flex;
    list-style: none;
}
#inicio-sesion{
    background-color: var(--DarkSalmon);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-left: auto;
}