<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
    <link rel="preload" href="../css/styles.css" as="styles"> 
    <link rel="stylesheet" href="../css/styles.css">
    <title>Crear cuenta</title>
</head>
<body>
    <div class="contenedor sombra">
        <form action="">
            <div>
                <label for="">Email</label>
                <input placeholder="Tu email" type="email" name="email">
            </div>
        </form>
    </div>
</body>
</html>