:root {
    --IndianRed: #CD5C5C;
    --LightCoral:	#F08080;
    --Salmon:	#FA8072;	
    --DarkSalmon:	#E9967A;	
    --LightSalmon:	#FFA07A;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: white;
    font-family: "Sofia Sans", sans-serif;
}
body{
    font-size: 1.6rem;
}
header {
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #CD5C5C;
}


.encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.titulo{
    display: flex;
    align-items: left;
}
a.titulo {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.logo{
    width: 40px; 
    margin-right: 1rem;
}

.contenedor{
    max-width: 120rem;
    margin-top: 2rem;
    margin-left: 4rem;
}

.sombra{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.nav{
    margin-top: 5rem;
    
}
nav.navegacion{
    display: flex;
    justify-content: space-between;
}
.navega{
    display: flex;
    justify-content: space-between;
    background-color:cadetblue;
}

.navega a{
    text-decoration: none;
    justify-content: space-between;
    
}

/* Estilos básicos para el botón */
.login-button {
    margin-right: 1rem;
    padding: 15px 25px;
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quitamos el borde */
    border-radius: 5px; /* Añadimos bordes redondeados */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    outline: none; /* Quitamos el contorno al hacer clic */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* Estilos al pasar el cursor sobre el botón */
.login-button:hover {
    background-color: #0056b3; /* Cambiamos el color de fondo */
}

/* Estilos al hacer clic en el botón */
.login-button:active {
    background-color: #1b3270; /* Cambiamos el color de fondo */
}

/* Estilos básicos para el botón */
.signup-button {
    text-decoration: none;
    padding: 15px 25px;
    background-color: white; /* Color de fondo azul */
    color:  #007bff; /* Color del texto */
    border: 1px solid #007bff; /* Quitamos el borde */
    border-radius: 5px; /* Añadimos bordes redondeados */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    outline: none; /* Quitamos el contorno al hacer clic */
}

/* Estilos al pasar el cursor sobre el botón */
.signup-button:hover {
    background-color: #fcfcfc96; /* Cambiamos el color de fondo */
    color: black;
}

/* Estilos al hacer clic en el botón */
.signup-button:active {
    background-color: #fcfcfc96; /* Cambiamos el color de fondo */
    color: black;
}

.card {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: justify;
    margin-bottom: 2rem;    
}

.half-left {
    flex: 1;
    display: grid;
    align-items: center;
}
.half-right {
    flex: 2
}

.title-text {
    color: black; /* Color del texto */
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 5px #ffd700,
    0 0 10px #ffd700,
    0 0 20px #ffd700,
    0 0 40px #ffd700,
    0 0 80px #ffd700,
    0 0 90px #ffd700,
    0 0 100px #ffd700,
    0 0 150px #ffd700;
    animation: neon 1.5s infinite alternate;
    
}


.resul-text {
    color: black; /* Color del texto */
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 
    0 0 5px #00FF00,
    0 0 10px #00FF00,
    0 0 20px #00FF00,
    0 0 40px #00FF00,
    0 0 80px #00FF00,
    0 0 90px #00FF00,
    0 0 100px #00FF00,
    0 0 150px #00FF00;
    animation: neon 1.5s infinite alternate;
    
}
.continue-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.continue-button:hover {
    background-color: #388e3c; /* Cambiar el color al pasar el ratón */
}

.evaluacion-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2c77bd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.evaluacion-button:hover {
    background-color: rgba(60, 32, 219, 0.432); /* Cambiar el color al pasar el ratón */
}

.botones-seccion{
    display: flex;
    justify-content: right;
}
#continuar {
    flex: 2
}

#evaluacion {
    flex: 1
}


.menu-lateral {
    flex: 0 0 15%; /* Tamaño fijo del menú lateral */
    background-color: #f1f1f1;
    padding: 20px;
    
}

.menu-lateral h2 {
    margin-bottom: 10px;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
}

.menu-lateral ul li {
    margin-bottom: 10px;
}

.menu-lateral ul li a {
    color: #333;
    text-decoration: none;
}

.menu-lateral ul li a:hover {
    text-decoration: underline;
}

.contenido {
    flex: 1; /* El contenido ocupa todo el espacio restante */
    padding: 20px;
}

.contenido-leccion{
    display: flex;
}

.perfil{
    flex: 2
}

.login{
    background-color: #ffffff70;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30rem; /* Cambia el ancho del contenedor */
    margin-top: 8%; /* Centra horizontalmente */
    margin-left: 35%;
}

.login input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 90%;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 2rem;

}

.login button{
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

.resultado {
    display: flex;
    justify-content: center;
}